---
// CSS
import "the-new-css-reset";
import "@/styles/global.scss";

// Components
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import HamburgerMenu from "@/components/layout/HamburgerMenu.astro";
import Seo from "@/components/head/Seo.astro";
import GoogleAnalytics from "@/components/head/GoogleAnalytics.astro";
// Fonts
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/manrope";

const isProduction = import.meta.env.PROD;

const { title, description, ogImageUrl, ogType, noindex, nofollow } =
  Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      title={title}
      description={description}
      ogImageUrl={ogImageUrl}
      ogType={ogType}
      noindex={noindex}
      nofollow={nofollow}
    />
    {isProduction && <GoogleAnalytics />}
  </head>
  <body>
    <div class="wrap">
      <Header />
      <HamburgerMenu />
      <slot />
      <Footer />
    </div>
    <script>
      import { initSmoothScroll } from "@/scripts/smooth-scroll";

      document.addEventListener("DOMContentLoaded", () => {
        initSmoothScroll();
      });
    </script>
  </body>
</html>

<style lang="scss">
  .wrap {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
  }
</style>
